.displayArt {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  padding: 2rem 0rem;
  width: 80%;
  margin: auto;
  row-gap: 2rem;
  column-gap: 1rem;
}

.artImage {
  width: 100%;
  max-width: 27rem;
  max-height: 15rem;
  margin-bottom: 1rem;
}
.jumbotron {
  height: 2rem;
}

.container {
  padding: 1rem 0rem;
  width: 80%;
  margin: auto;
}

.heartsComp {
  margin: 1rem;
}
